@import url(base.css);

.header{
    text-align: center;
    color: var(--cor4);
    background-color: var(--cor1);
}

.header h1{
    font-size: clamp(3rem, 2vw, 5rem);
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90dvh;
}

.main form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 70%;
    height: 300px;
    text-align: center;
    border: 1px solid;
}

.input-box{
    position: relative;
    min-width: max-content;
    padding: .2rem .2rem .2rem 2.2rem;
    border-radius: 40px;
    background-color: var(--cor1);
}

.input-box label{
    position: absolute;
    top: 7px;
    left: 10px;
    font-size: clamp(1.1rem, 2vw, 1.3rem);
    color: var(--cor4);
}

.input-box input{
    font-size: clamp(.9rem, 2vw, 1.1rem);
    padding: .5rem 1rem;
    border-radius: 40px;
    outline: none;
    border: none;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    color: var(--cor7);
    background-color: var(--cor1);
}

.footer a{
    text-decoration: none;
    text-transform: uppercase;
    color: var(--cor7);
}