@import url(base.css);

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90dvh;
}

.main form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: clamp(340px, 2vw, 60%);
    height: 380px;
    text-align: center;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 3px 3px 10px #00000036;
}

.main form h2{
    font-size: clamp(1.5rem, 2vw, 2rem);
    color: var(--cor1);
}

.input-box{
    position: relative;
    min-width: max-content;
    padding: .2rem .2rem .2rem 2.2rem;
    margin-block: 1rem;
    border-radius: 40px;
    background-color: var(--cor1);
}

.input-box label{
    position: absolute;
    top: 20%;
    left: 5%;
    font-size: 1.1rem;
    color: var(--cor4);
}

.input-box input{
    font-size: clamp(.9rem, 2vw, 1.1rem);
    padding: .7rem 1rem;
    border-radius: 40px;
    outline: none;
    border: none;
}

.login-btn{
    font-size: clamp(1.05rem, 2vw, 1.3rem);
    font-weight: 600;
    padding: .8rem 1rem;
    border-radius: 5px;
    border: none;
    outline: none;
    color: var(--cor4);
    background-color: var(--cor1);
}