@charset "UTF-8";

@import url('https://fonts.cdnfonts.com/css/helvetica-neue-5');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root{
    --font1: 'Helvetica Neue', arial, sans-serif;
    --font2: "IBM Plex Sans", arial, sans-serif;
    --cor1: #2B4DCD;
    --cor2: #282828;
    --cor3: #656565;
    --cor4: #F6F6F6;
    --cor6: #2b4ecd57;
}

*{
    padding: 0;
    margin: 0;
}

body{
    min-height: 100vh;
    font-family: var(--font2);
    font-weight: normal;
    background-color: var(--cor4);
}

body.active{
    overflow-y: hidden;
}

#overlay.active{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: #00000031;
    backdrop-filter: blur(5px);
}

h1, h2, h3{
    font-family: var(--font1);
}

body p{
    font-size: clamp(1.1rem, 2vw, 1.4rem);
}

button{
    cursor: pointer;
}

a:focus{
    border: none;
    outline: 1px solid var(--cor4);
}

header{
    position: fixed;
    width: 100%;
    padding-block: .4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
    color: var(--cor4);
    background-color: transparent;
    transition: all .3s ease-in-out;
}

header.scroll-down{
    background-color: var(--cor1);
    box-shadow: 0 2px 10px #2828287a;
}

.logo{
    margin-left: 2rem;
}

.menu-header{
    display: none;
}

.menu-header ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-right: 2rem;
}

.menu-header a{
    padding: .8rem .5rem;
    border-radius: 5px;
    text-decoration: none;
    color: var(--cor4);
    transition: .3s ease-in-out;
}

.menu-header a:hover{
    background-color: #ffffff4f;
}

.menu-header a:focus{
    outline: 1px solid var(--cor4);
}

.menu-icon{
    width: 40px;
    height: 40px;
    padding: .4rem;
    margin-right: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    border: none;
    outline: none;
    background-color: transparent;
}

.menu-icon span{
    width: 100%;
    height: 2px;
    background-color: var(--cor4);
}

main h2{
    width: max-content;
    padding: .4rem;
    font-size: clamp(1.5rem, 8vw, 3rem);
    border-bottom: 3px solid;
}

main h3{
    font-size: clamp(1.5rem, 2vw, 2rem);
}

.side-menu{
    position: fixed;
    top: 0;
    right: -240px;
    width: 230px;
    height: 100dvh;
    z-index: 9999;
    background: var(--cor1);
    transition: right .4s ease-in-out;
}

.side-menu.active{
    right: 0;
    box-shadow: -2px 0 10px #28282854;
}

.close-icon{
    position: relative;
    width: 40px;
    height: 40px;
    padding: .3rem;
    margin-left: 1rem;
    border: none;
    outline: none;
    background-color: transparent;
}

.close-icon span{
    position: absolute;
    width: 80%;
    height: 2px;
    top: 50%;
    left: 0;
    transform-origin: center;
    background-color: var(--cor4);
}

.close-icon span:first-child{
    transform: rotate(45deg);
}
.close-icon span:last-child{
    transform: rotate(-45deg);
}

.side-menu ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1rem;
    width: 100%;
    margin: 2rem 0 0 2rem;
    list-style: none;
}

.side-menu li{
    width: 100%;
}

.side-menu a{
    font-family: var(--font2);
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--cor4);
}

main{
    overflow: hidden;
}

.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130dvh;
    background-image: url(../assets/bg-hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.hero h1{
    color: var(--cor4);
    font-size: clamp(2rem, 10vw, 5rem);
}

.hero p{
    display: none;
}

.separator{
    width: 0;
    height: 0;
    border-right: 100vw solid transparent;
    border-bottom: 13.9vw solid var(--cor4);
    margin-top: -13.4vw;
}

.services{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    padding: 2rem 1rem;
}

.services h2{
    color: var(--cor1);
}

.services p{
    font-size: clamp(1.1rem, 2vw, 1.5rem);
    margin-block: 1rem;
    color: var(--cor3);
}

.services-box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: .5rem;
    width: 90%;
    padding-block: 1rem;
}

.services-card{
    position: relative;
    width: 100%;
    margin: auto;
    text-shadow: 3px 3px 10px #000000fa;
    border-radius: 5px;
    z-index: 1;
    text-align: center;
    line-height: 360px;
    color: var(--cor4);
    background-size: cover;
    background-position: center center;
}

.services-card:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: var(--cor6);
}

.services-card:nth-child(1){
    background-image: url(../assets/implante-img.jpg);
}
.services-card:nth-child(2){
    background-image: url(../assets/clareamento.jpg)
}
.services-card:nth-child(3){
    background-image: url(../assets/protese.jpg);
}
.services-card:nth-child(4){
    background-image: url(../assets/aparelho.jpg);
}
.services-card:nth-child(5){
    background-image: url(../assets/cirurgia.jpg);
}

.services button{
    padding: 10px 15px;
    margin-top: 1.3rem;
    font-size: clamp(1.1rem, 1.2rem, 1.5rem);
    font-weight: 550;
    border-radius: 5px;
    border: none;
    outline: none;
    color: var(--cor4);
    background-color: var(--cor1);
    transition: transform .3s ease;
}

.services button:hover{
    transform: scale(1.1);
    box-shadow: 2px 3px 5px #00000075;
}

.services button:active{
    transform: scale(.9);
    box-shadow: none;
}

.services button:focus{
    outline: 1px solid var(--cor2);
}

.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120dvh;
    background: url(../assets/about-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.about h2{
    margin-bottom: 2rem;
    color: var(--cor4);
    text-shadow: 2px 2px 5px #00000080;
}

.about p{
    width: clamp(10vw, 60vw, 60vw);
    padding: 2rem ;
    font-size: clamp(1.1rem, 2vw, 1.4rem);
    text-shadow: 1px 1px 3px #00000075;
    border-radius: 5px;
    color: var(--cor4);
    z-index: 1;
}

.diferencials{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem;
    color: var(--cor4);
    background-color: var(--cor1);
}

.diferencials h2{
    color: var(--cor4);
}

.diferencials-box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: .5rem;
    width: 90%;
    padding-block: 3rem;
    perspective: 1000px;
}

.diferencials-card{
    position: relative;
    width: 90%;
    height: 350px;
    margin: auto;
    border-radius: 5px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    transform-style: preserve-3d;
    transition: transform .6s ease-in-out;
}    

.diferencials-card h3{
    font-size: .9rem;
}

.diferencials-card::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: var(--cor6);
}

.front,
.back{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    backface-visibility: hidden;
}

.front{
    color: var(--cor4); 
    transform: rotateY(0deg);
}

.diferencials-card:nth-child(1){
    background-image: url(../assets/tecnologia.jpg);
}
.diferencials-card:nth-child(2){
    background-image: url(../assets/pagamento.jpg);
}
.diferencials-card:nth-child(3){
    background-image: url(../assets/atendimento.jpg);
}
.diferencials-card:nth-child(4){
    background-image: url(../assets/agendamento.jpg);
}

.back{
    text-align: center;
    color: var(--cor1);
    background-color: var(--cor4);
    transform: rotateY(180deg);
}

.diferencials-card:hover{
    transform: rotateY(180deg);
}

.diferencials-card h3{
    font-size: clamp(1.2rem, 2vw, 1.5rem);
    text-transform: uppercase;
}

.contact{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    padding: 2rem 1rem;
}

.contact h2{
    font-size: clamp(.9rem, 1.2rem, 1.4rem);
    border: none;
    padding-bottom: .3rem;
}

.contact p{
    font-size: 1.1rem;
    padding-left: .3rem;
    color: var(--cor3);
}

.contact ul{
    list-style: none;
}

.contact li{
    padding-left: 1rem;
    margin-block: .3rem;
}

.contact a{
    text-decoration: none;
    color: var(--cor3);
}

.contact a:focus{
    outline: 1px solid var(--cor3);
}

.contact a:hover{
    text-decoration: underline;
}

.adress iframe{
    margin-top: 1rem;
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .7rem 2rem;
    color: var(--cor4);
    background-color: var(--cor1);
}

footer a{
    text-transform: uppercase;
    text-decoration: none;
    color: var(--cor4);
}

/*Tablet*/
@media screen and (min-width: 769px) and (max-width: 992px){
    .menu-icon{
        display: none;
    }
    .menu-header{
        display: block;
    }
    .contact{
        grid-template-columns: 1fr 1fr;
    }
    .adress iframe{
        width: 280px;
        height: 280px;
    }
}

/*Desk top*/
@media  screen and (min-width: 992px) {
    .menu-icon{
        display: none;
    }
    .menu-header{
        display: block;
    }
    .hero p{
        display: block;
        width: 300px;
        font-size: 1.1rem;
        color: #c7c5c5;
        margin-left: 2rem;
    }
    .hero h1{
        margin-left: 2rem ;
    }
    .services{
        padding-block: 5rem;
    }
    .services-box{
        height: auto;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
            "item1 item2 item3"
            "item1 item4 item5"
        ;
    }
    .services-card{
        width: 100%;
        height: 100%;
        margin: 0;

    }
    .services-card:nth-child(1){
        grid-area: item1;
    }
    .services-card:nth-child(2){
        grid-area: item2;
    }
    .services-card:nth-child(3){
        grid-area: item3;
    }
    .services-card:nth-child(4){
        grid-area: item4;
    }
    .services-card:nth-child(5){
        grid-area: item5;
    }
    .services button{
        padding: 20px 40px;
    }
    .about{
        background-position: top center;
    }
    .contact{
        grid-template-columns: repeat(3, 1fr);
    }
    .adress iframe{
        width: 300px;
        height: 300px;
    }
}